.product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: auto;
    height: "*";
    color: rgb(27, 27, 27);
}

.product-item-wrapper {
    flex: 1;
    margin: 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.41);
    border-color: whitesmoke;
    border-radius: 5px;
}

.product-item-wrapper p {
    margin: 2px;
}

.product-item-wrapper button {
    margin-top: 10px;
    width: 90%;
    border-radius: 5px;
}

.product-image {
    width: 90%;
    box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, 0.1);
}

.Modal {
    background-color: white;
    text-align: center;
    width: 150px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, 0.2);
    padding: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
}

.Modal button {
    width: 90%;
    border-radius: 5px;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.158);
}